@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-200 text-black; 

    /*@apply dark:text-neutral-100 dark:bg-neutral-900;*/
  }
  h1 {
    font-size: 60pt;
  }
  h2 {
    font-size: 40pt;
  }
  h3 {
    font-size: 28pt;
  }
  h4 {
    font-size: 22pt;
  }
  h5 {
    font-size: 20pt;
  }
  h6 {
    font-size: 18pt;
  }
}

@import "@fortawesome/fontawesome-free/css/all.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
